body {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	text-align: center;
	direction: rtl;
}
.container {
	margin: auto;
	width: auto;
}
#leshem-yihud,#etmol,#birshut,#bracha,#hayom,#harahaman,#psukim,#lamnatzeah,#ana-becoah-container,#yehi-ratzon {
	margin-top: 20px;
	margin-bottom: 20px;
}

#hayom, #sefira {
	font-size: 20pt;
}

.comment, .rt {
	font-size: 11pt;
}

.pasuk {
	text-align: right;
}
.pasuk-container{
	display: flex;
	justify-content: space-between;
}